@model Ticket

<form method="post">
    <div class="d-flex flex-column gap-5">
        <input asp-for="Id" type="hidden">

        <div class="row">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>

        <div class="row">
            <label asp-for="Date" class="form-label">Date</label>
            <input asp-for="Date" class="form-control">
            <span asp-validation-for="Date"></span>
        </div>

        <div class="row">
            <label asp-for="DomainId">Domain</label>
            <select asp-items="@ViewBag.Domains" asp-for="DomainId" class="form-select"></select>
            <span asp-validation-for="DomainId"></span>
        </div>

        <div class="row">
            <div class="col">
                @if (ViewBag.Prev != 0)
                {
                    <a asp-action="Index" asp-route-id="@ViewBag.Prev">Prev</a>
                }
            </div>
            <div class="col">
                @if (ViewBag.Next != 0)
                {
                    <a asp-action="Index" asp-route-id="@ViewBag.Next">Next</a>
                }
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary" asp-action="Add">Save</button>
            </div>

            <div class="col">
                <button class="btn btn-primary @(Model.Id == 0 ? "disabled" : "")" asp-action="Edit">Edit</button>
            </div>

            <div class="col">
                <button class="btn btn-danger @(Model.Id == 0 ? "disabled" : "")" asp-action="Delete" asp-route-id="@Model?.Id">Delete</button>
            </div>
        </div>
    </div>
</form>